/* young-serif-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/young-serif-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* outfit-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/outfit-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* outfit-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/outfit-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
    margin: 0;
    padding: 0;
}  


body {
    font-family: 'Young serif', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3E5D7;
}

h1 h3 {
    color: #333;
    font-family: 'Young serif';
    font-weight: 700;
    padding-bottom: 32px;
}

.main-container {
    max-width: 740px;
    height: 1710px;
    display: grid;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 24px;
}

.parat {
    width: 740px;
    height: 180px;
    background-color: #FFF7FB;

}
